node_modules
stress
tests-*
buildPurses*
tests-fungible
tests-non-fungible
stresslogs/*
purses-*
.env
.env.local
.env.testnet
name-*.json
blacklist.json
*.rho
rholang/*.rho
rholang/*.rho
dist/*
cli/*
scalability.MD
.github/**/*
.github/*
.prettier*
checkBalance.js
rollup.config.js
purchaseName.js
log.jsdev.txt
commands.txt
constants.js
generateJavascript.js